[Unit]
Description=code-server
After=network.target

[Service]
Type=exec
User=coder
ExecStart=/usr/bin/code-server --proxy-domain mydomain.com
Restart=always

[Install]
WantedBy=multi-user.target